@font-face {
  font-family: "Gilory";
  src: url(../assets/fonts/Gilroy-Medium.ttf);

  font-weight: 500;
}

@font-face {
  font-family: "Gilory";
  src: url(../assets/fonts/Gilroy-Regular.ttf);

  font-weight: 400;
}

@font-face {
  font-family: "Gilory";
  src: url(../assets/fonts/Gilroy-Semibold.ttf);

  font-weight: 600;
}
