@import "./_reset.scss";
@import "./_font";

// font-style: normal;
// font-weight: 500;
// font-size: 16px;
// line-height: 20px;

$brandColor: rgba(43, 103, 228);

@mixin bannerCard {
  width: 353px;
  height: 553px;

  border-radius: 10px;
}

@mixin headingMain {
  font-family: "Gilory";
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 1.1;

  color: black;
}

@mixin smallCard {
  width: 350px;
  height: 340px;

  border-radius: 10px;
  border: 1.5px solid rgb(198, 197, 205);
}

.header {
  width: 100%;
  height: 88px;

  margin-top: 63px;
  &__wrapper {
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
  }

  &__logo-link {
  }

  &__nav {
    gap: 70px;
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;

  max-width: 1520px;
  margin: 0 auto;
}
.logo {
}
.logo-link {
}
.menu-btn {
}
.nav {
  display: flex;
  align-items: center;
  margin-right: 180px;

  &__link {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }
}
.tel-block {
  display: flex;
  align-items: center;
  gap: 10px;

  &__icon {
  }

  &__link {
  }
}

// СЕКЦИЯ БАННЕР

.main {
}
.banner {
  margin-top: 200px;

  &__wrapper {
    justify-content: space-between;
  }
}
.wrapper {
}
.block {
  &__left {
  }

  &__heading {
    max-width: 674px;
  }

  &__text {
    max-width: 674px;
    margin-top: 80px;
  }

  &__btn {
    background-color: $brandColor;
    color: white;

    font-family: "Gilory";
    font-weight: 400;
    font-style: normal;
    font-size: 35px;

    padding: 30px 50px;
    margin-top: 58px;
  }

  &__right {
    display: flex;
    align-items: center;

    gap: 30px;

    position: relative;
  }

  &__add-yellow {
    font-family: "Gilory";

    background-color: rgb(221, 174, 43);
    border-radius: 15px;
    padding: 25px 35px;

    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: white;

    position: absolute;
    top: -32px;
    right: 0;

    z-index: 1;
  }

  &__add-blue {
    font-family: "Gilory";

    background-color: $brandColor;
    border-radius: 15px;
    padding: 25px 35px;

    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: white;

    position: absolute;
    top: -32px;
    right: 0;

    z-index: 1;
  }

  &__right__repair {
    @include bannerCard;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    background-image: url(../assets/img/1.png);
    background-repeat: no-repeat;

    position: relative;
  }

  &__right__repair::before {
    content: "";

    @include bannerCard;
    background-color: $brandColor;
    opacity: 0.4;

    position: absolute;
    top: 0;
    left: 0;
  }

  &__right__window {
    @include bannerCard;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    background-image: url(../assets/img/2.png);
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
  }

  &__right__window::after {
    content: "";

    @include bannerCard;
    background-color: $brandColor;
    opacity: 0.4;

    position: absolute;
    top: 0;
    left: 0;
  }

  &__right__heading {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 600;
    font-size: 27px;

    color: white;

    max-width: 270px;

    margin-left: 35px;
    margin-bottom: 42px;

    z-index: 1;
  }

  &__right__text {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: white;

    max-width: 291px;

    margin-left: 35px;
    margin-bottom: 35px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 130px;

    margin-left: 35px;
    margin-bottom: 43px;

    z-index: 1;
  }

  &__footer__price {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    color: white;
  }

  &__footer__link {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    text-decoration: underline;

    color: white;
  }
}
.heading {
  @include headingMain;
}
.text {
  font-family: "Gilory";
  font-size: normal;
  font-weight: 400;
  font-size: 35px;
}
.btn {
  border: none;
  border-radius: 10px;
}

// ВТОРАЯ СЕКЦИЯ

.success {
  &__wrapper {
    flex-direction: column;
  }

  &__heading {
    margin-top: 204px;
    max-width: 814px;
  }

  &__cards {
    gap: 33px;
    margin-top: 101px;
  }

  &__card {
    flex-direction: column;
    justify-content: space-between;
  }

  &__card__icon {
    margin-top: 24px;
    margin-left: 28px;
  }
}
.wrapper {
}
.heading {
}
.cards {
  display: flex;
  align-items: center;
}
.card {
  @include smallCard;

  display: flex;

  &__heading {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 27px;

    max-width: 310px;

    margin-left: 28px;
    margin-bottom: 65px;
  }
}
.icon {
}

// ТРЕТЬЯ СЕКЦИЯ

.efforts {
  &__wrapper {
    flex-direction: column;
  }

  &__heading {
    max-width: 625px;
    margin-top: 206px;
  }
}
.wrapper {
}
.row {
  display: flex;
  align-items: center;
  &__btns {
    gap: 30px;
  }

  &__btn {
    border-radius: 15px;
    border: none;
    padding: 26px;

    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;

    background-color: white;
  }

  &__btn:hover {
    background-color: $brandColor;
    color: white;

    transition-duration: 0.33s;
  }
}

.swiper-icon {
  margin-left: 500px;
}

.security {
  margin-top: 190px;
  &__wrapper {
    flex-direction: column;
  }

  &__heading {
    max-width: 460px;
  }

  &__block {
    display: flex;
    align-items: center;

    margin-top: 97px;

    gap: 35px;
  }

  &__block__1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__block__2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  &__img-right {
    margin-top: 100px;
  }

  &__text {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 1.9;
  }

  &__text1 {
    margin-top: 100px;
  }
}

.fresh {
  margin-top: 300px;
  &__wrapper {
    flex-direction: column;
  }

  &__heading {
    max-width: 1000px;
  }

  &__text {
    font-family: "Gilory";
    font-size: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;

    max-width: 719px;

    margin-top: 108px;
  }

  &__blue {
    color: $brandColor;
  }
}
.wrapper {
}
.heading {
}

.specialist {
  margin-top: 93px;

  display: flex;
  align-items: center;
  gap: 32px;
  &__card {
    @include smallCard;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 23px;

    margin-top: 26px;
    margin-left: 26px;
  }

  &__img {
    border-radius: 10px;
  }

  &__main {
  }

  &__heading {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.4;

    max-width: 90px;
  }

  &__text {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.2;

    color: rgb(166, 166, 166);
    max-width: 130px;
  }

  &__rate {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    margin-left: 26px;
    margin-top: 40px;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 97px;

    margin-left: 55px;
    margin-top: 18px;
  }

  &__stars {
    display: flex;
    align-items: center;

    gap: 8px;
  }

  &__star-blue {
  }

  &__star-grey {
  }

  &__reviews {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    text-decoration: underline;
    color: $brandColor;
  }
}

.price {
  &__wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    height: 1547px;
    background-color: $brandColor;
    border-radius: 10px;

    margin-top: 183px;
  }

  &__bg {
    width: 100%;
    height: 100%;

    max-width: 535px;
    max-height: 1546px;

    background-image: url(../assets/img/11.png);
    background-repeat: no-repeat;
  }
}

.count-window {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 103px;
  margin-top: 108px;

  &__heading {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 1.5;

    max-width: 580px;

    color: white;
  }

  &__text {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;

    max-width: 600px;

    color: white;

    margin-top: 114px;
  }
  &__spaces {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-top: 94px;
  }
  &__btn {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;

    color: rgb(138, 175, 241);

    border: none;
    border-radius: 10px;
    background-color: $brandColor;

    padding: 20px 20px;
  }

  &__btn:hover {
    background-color: white;
    color: black;
  }
  &__btn:focus {
    background-color: white;
    color: black;
  }
}
.space {
  font-family: "Gilory";
  font-style: normal;
  font-weight: 500;
  font-size: 27px;

  color: white;
  margin-top: 85px;
  &__row {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-top: 28px;
  }

  &__btn {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;

    color: rgb(138, 175, 241);

    border: none;
    border-radius: 10px;
    background-color: $brandColor;

    padding: 10px 20px;
  }

  &__btn:hover {
    background-color: white;
    color: black;
  }
  &__btn:focus {
    background-color: white;
    color: black;
  }
}

.extras {
  font-family: "Gilory";
  font-style: normal;
  font-weight: 500;
  font-size: 27px;

  color: white;

  margin-top: 78px;
}

.wishes {
  display: flex;
  align-items: center;
  gap: 50px;

  margin-top: 35px;

  &__column1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 18px;
  }
  &__box {
    width: 24px;
    height: 24px;

    border: 2px solid white;
  }

  &__text {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    color: white;
  }

  &__column2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__link {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-decoration: underline;

    color: white;
  }
}

.contacts {
  margin-top: 90px;

  display: flex;
  align-items: center;
  gap: 20px;

  &__block1 {
  }

  &__block2 {
  }

  &__heading {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 500;
    font-size: 27px;

    color: white;

    margin-bottom: 25px;
  }

  &__type {
    display: flex;
    align-items: center;

    gap: 20px;
  }

  &__btn {
    border: none;
    height: 75px;
    width: 162px;

    background-color: $brandColor;
    border-radius: 10px;

    font-family: "Gilory";
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: rgb(206, 206, 206);
  }

  &__btn:hover {
    background-color: white;
    color: black;
  }
  &__btn:focus {
    background-color: white;
    color: black;
  }
}
.phone {
  height: 75px;
  width: 304px;

  font-family: "Gilory";
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  color: rgb(206, 206, 206);

  border-radius: 10px;
  border: none;
  text-align: center;
}

.finish-price {
  display: flex;
  align-items: center;
  gap: 35px;

  margin-top: 90px;
  &__btn {
    width: 365px;
    height: 95px;

    border: none;
    border-radius: 10px;

    font-family: "Gilory";
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: black;
  }

  &__text {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    color: white;
    max-width: 365px;
  }
}

.partners {
  margin-top: 200px;
  &__wrapper {
    flex-direction: column;
  }

  &__heading {
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 45px;

    margin-top: 100px;
  }

  &__partner {
  }
}
.wrapper {
}
.heading {
}

.footer {
  margin-top: 150px;
  &__wrapper {
    flex-direction: column;
  }

  &__logo {
  }

  &__nav {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    gap: 50px;
    margin: 0;
  }

  &__navlink {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;

    color: rgb(85, 85, 85);
  }

  &__row1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__tel {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__navb {
    display: flex;
    align-items: center;
    gap: 230px;
  }

  &__row2 {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 108px;
    margin-bottom: 115px;
  }

  &__rights {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;

    color: rgb(166, 166, 166);
  }

  &__link {
    font-family: "Gilory";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-decoration: underline;

    color: rgb(166, 166, 166);
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 24px;
  &__social {
    width: 60px;
    height: 60px;

    border: 1.5px solid black;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
  }
}
