@import "./reset";
@import "../assets/fonts/poppins/poppins.css";
@import "../assets/fonts/roboto/roboto.css";

$mainFont: "Poppins", sans-serif;
$btnColor: #000000;

@mixin arrivals-list {
  width: 481px;
  height: 704px;

  border-radius: 20px;
}

@mixin sub-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
  /* or 104% */

  letter-spacing: 0.06em;

  color: #000000;
}

@mixin card-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;
  /* or 156% */

  letter-spacing: -0.04em;

  color: #191919;
}

@mixin card-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 50px;
  /* or 208% */

  letter-spacing: -0.04em;

  color: #7f7f7f;
}

.header {
  margin-top: 59px;
  width: 100%;
  height: 62px;

  &__wrapper {
    align-items: center;
  }

  &__nav {
    margin-left: 642px;
    margin-right: 54px;
    gap: 62px;
  }

  &__btn {
    border-radius: 7px;
    padding: 13px 21.74px;

    font-family: "Poppins";
    font-style: normal;

    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
  }
}
.wrapper {
  display: flex;

  width: 100%;
  height: 100%;

  max-width: 1950px;
  padding: 15px;
  margin: 0 auto;
}
.logo {
  &__icon {
  }
}

.nav {
  display: flex;
  align-items: center;
  &__link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #242323;
  }
}
.btn {
  background-color: $btnColor;
  color: #fefefe;
}

.main {
}
.banner {
  &__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.wrapper {
}
.main-block {
  width: 1720px;
  height: 852px;
  background: #f4f6f5;
  border-radius: 59px;

  margin-top: 69px;

  background-image: url(../assets/img/GIRLD_PHOTO.png),
    url(../assets/icons/Star\ 11STAR-1.svg),
    url(../assets/icons/Star\ 11STAR-2.svg),
    url(../assets/icons/Star\ 11STAR-3.svg),
    url(../assets/icons/Star\ 11STAR-4.svg);
  background-repeat: no-repeat;
  background-position: right 81px bottom 0, top 68px left 748px,
    top 104px right 238px, right 83px bottom 91.98px, bottom 33.98px left 791px;

  &__heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 120px;
    /* or 125% */

    color: #000000;

    max-width: 474px;
    margin-top: 77px;
    margin-left: 119px;

    position: relative;
    z-index: 1;
  }

  &__heading::after {
    content: "";

    width: 465px;
    height: 113px;

    background-image: url(../assets/icons/WHITE_BLOCK.svg);
    background-repeat: no-repeat;
    transform: rotate(-2deg);

    position: absolute;
    top: -9px;
    left: -37px;
    z-index: -1;
  }

  &__heading::before {
    content: "";

    width: 496px;
    height: 118px;

    background-image: url(../assets/icons/YELLOW_BLOCK.svg);
    background-repeat: no-repeat;
    transform: rotate(-2deg);

    position: absolute;
    top: 224.56px;
    left: -25.48px;
    z-index: -1;
  }

  &__text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.05em;

    color: #191818;

    margin-top: 40px;
    margin-left: 119px;
    margin-bottom: 32px;
  }

  &__btn {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */

    letter-spacing: -0.05em;

    color: #ffffff;

    padding: 19px 40px;
    background-color: $btnColor;
    border-radius: 10px;

    margin-left: 349px;

    position: relative;
  }

  &__btn::after {
    content: "";

    width: 190px;
    height: 31.96px;

    background-image: url(../assets/icons/YELLOW_PICE.svg);
    background-repeat: no-repeat;

    position: absolute;
    left: -230px;
    bottom: 21px;
  }
}

.brand-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 121px;

  width: 1920px;
  height: 186px;

  background-color: #ebd96b;

  margin-top: 63px;

  &__img {
    mix-blend-mode: darken;
  }
}

.new-arrivals {
  &__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  &__sub-heading {
  }

  &__card-list {
  }

  &__card-bg {
    background-image: url(../assets/img/CARD-BG1.png);
    background-repeat: no-repeat;
  }
}
.wrapper {
}
.sub-heading {
  @include sub-heading;
}

.new-arrivals {
  margin-top: 69px;

  &__wrapper {
  }

  &__sub-heading {
    position: relative;
  }

  &__sub-heading::after {
    content: "";

    width: 186px;
    height: 35px;

    background-image: url(../assets/icons/NEW-arrivals\ ICON.svg);
    background-repeat: no-repeat;

    position: absolute;
    top: 23px;
    right: 5px;
    z-index: -1;
  }

  &__card-list {
    margin-top: 118px;
  }
}
.wrapper {
}
.sub-heading {
}
.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;

  &__card {
  }
}
.card {
  &__photo {
  }

  &__link {
    position: relative;
  }

  &__link::after {
    content: "";

    width: 32px;
    height: 38px;

    background-image: url(../assets/icons/card-link\ arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    top: 85px;
    right: 0;
  }

  &__heading {
    @include card-heading;
    margin-top: 28px;
  }

  &__text {
    @include card-text;
  }
}

.sale {
  margin-top: 193px;

  &__wrapper {
  }

  &__block {
  }
}
.wrapper {
}
.block-1 {
  width: 991.42px;
  height: 968px;

  background-image: url(../assets/icons/Star\ 6SALE-STAR1.svg),
    url(../assets/icons/Star\ 8SALE-STAR2.svg),
    url(../assets/icons/Star\ 7SALE-STAR3.svg),
    url(../assets/icons/Star\ 5SALE-STAR4.svg),
    url(../assets/img/image\ 12BG-SALE-BLOCK-1.png);
  background-repeat: no-repeat;
  background-position: right 123.38px top 84px, bottom 226.76px right 72.28px,
    left 187.39px top 490px, top 151.86px left 136.37px, left 0 top 0;
}
.block-2 {
  width: 932.94px;
  height: 968px;

  background: linear-gradient(
    1.32deg,
    #e0c340 0.13%,
    #dfc23e 3.97%,
    #e1c441 7.2%,
    #e3c743 10.13%,
    #e4c542 12.98%,
    #e6c744 15.99%,
    #e7c845 19.52%,
    #e5c643 23.96%,
    #e6c945 30.43%,
    #e3c743 36.49%,
    #e9ca48 42.49%,
    #edce49 49.35%,
    #f0d44c 55.42%,
    #f4d84f 61.43%,
    #f6da52 65.74%,
    #f7db53 72.23%,
    #f9dd55 77.43%,
    #f9df56 83.84%,
    #fae157 91.52%,
    #f9df56 97.87%
  );

  z-index: -1;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 98.08px;
  margin-top: 139.74px;

  &__heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-size: 111.608px;
    line-height: 137px;
    /* or 123% */

    color: #000000;

    max-width: 593.23px;
    position: relative;
  }

  &__heading::before {
    content: "";

    width: 541.43px;
    height: 130.37px;

    background-image: url(../assets/icons/SALES-BG-WHITE.svg);
    background-repeat: no-repeat;
    transform: matrix(1, -0.03, 0.03, 1, 0, 0);

    position: absolute;
    left: -23.3px;
    top: -11.63px;

    z-index: -1;
  }

  &__text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 36.0402px;
    line-height: 52px;
    /* or 145% */

    letter-spacing: -0.02em;

    color: #231300;

    max-width: 643.09px;

    margin-top: 33.09px;
  }

  &__date {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 36.0402px;
    line-height: 52px;
    /* or 145% */

    letter-spacing: 0.02em;

    color: #000000;

    margin-top: 40.69px;
  }

  &__conditions {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 36.0402px;
    line-height: 52px;
    /* or 145% */

    letter-spacing: -0.02em;

    color: #000000;

    margin-top: 10.46px;
  }

  &__btn {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 27.9021px;
    line-height: 42px;
    letter-spacing: 0.02em;

    color: #ffffff;

    background: $btnColor;
    border-radius: 8.13811px;

    padding: 26.74px 51.26px;

    margin-top: 51.15px;
  }
}

.young {
  margin-top: 190px;
  &__wrapper {
    flex-direction: column;
  }

  &__sub-heading {
    position: relative;
  }

  &__sub-heading::after {
    width: 190px;
    height: 31.96px;

    content: "";

    position: absolute;
    bottom: -13.96px;
    left: 317px;

    background-image: url(../assets/icons/young-heading-line.svg);
    background-repeat: no-repeat;
    z-index: -1;
  }

  &__img {
  }
}
.wrapper {
}
.sub-heading {
}
.young-cards {
  display: flex;
  align-items: center;
  gap: 48px;

  margin-top: 118px;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__heading {
    margin-top: 28px;
    @include card-heading;
  }

  &__heading-black {
    color: #000000;
  }

  &__text {
    @include card-text;
  }
}

.young-link {
  position: relative;
}

.young-link::before {
  content: "";

  width: 33px;
  height: 38px;

  background-image: url(../assets/icons/card-link\ arrow.svg);
  background-repeat: no-repeat;

  position: absolute;
  top: 71px;
  left: 800px;
}

.mabile-app {
  &__wrapper {
    background-image: url(../assets/img/APPBG.png);
    background-repeat: no-repeat;
    background-position: right 218px top 221px;
    padding-bottom: 207px;
  }

  &__heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 150%;
    /* or 72px */

    letter-spacing: 0.06em;

    color: #000000;

    max-width: 507px;

    margin-top: 401px;
  }

  &__text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    /* or 146% */

    letter-spacing: -0.04em;

    color: #7c7c7c;

    max-width: 417px;
    margin-top: 41px;
  }

  &__stores {
    margin-top: 65px;
    margin-bottom: 206px;
  }
}
.wrapper {
}
.mobile-app {
  &__block {
    margin-left: 115px;
  }

  &__link {
  }
}

.email {
  background-color: rgba(229, 198, 67, 1);

  &__wrapper {
    flex-direction: column;
    align-items: center;

    height: 623px;
  }

  &__heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 70px;
    /* or 127% */

    text-align: center;
    letter-spacing: 0.03em;

    color: #ffffff;

    max-width: 966px;

    margin-top: 141px;
  }

  &__text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    /* or 109% */

    letter-spacing: 0.03em;

    color: #fffcf8;

    margin-top: 37px;
  }
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 107px;

  width: 100%;
  max-width: 574px;

  background: #ffffff;
  border-radius: 10px;
  padding: 10px 10px 10px 27px;
  // не уверен в правильности хода с позицией

  &__btn {
    padding: 17px 36px;
    border-radius: 8px;
    background-color: $btnColor;
    color: white;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 35px;
    /* identical to box height, or 106% */

    letter-spacing: 0.03em;
    text-transform: capitalize;

    color: #ffffff;
  }

  &__input {
    border: none;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    /* or 146% */

    letter-spacing: 0.03em;

    color: #767676;
  }
}

.wrapper {
}

.footer {
  background-color: #000000;
  &__wrapper {
    height: 545px;

    align-items: center;
  }

  &__heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.03em;

    color: #ffffff;
  }

  &__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */

    letter-spacing: 0.02em;
    max-width: 415px;

    color: #8e8e8e;

    margin-top: 32px;
  }

  &__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */

    letter-spacing: 0.02em;

    color: #8e8e8e;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 32px;
  }

  &__link:first-child {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */

    letter-spacing: 0.02em;

    color: #d9d9d9;
  }
}
.wrapper {
}
.socials {
  display: flex;
  align-items: center;
  gap: 14px;

  margin-top: 32px;
}
.socials-block {
  width: 52px;
  height: 52px;
  background: #ebd96b;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.column-1 {
  display: flex;
  flex-direction: column;
}

.nav-block {
  display: flex;
  align-items: flex-start;

  gap: 190px;

  margin-left: 388px;
}
