/* @font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Regular.ttf);

  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Bold.ttf);

  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Light.ttf);

  font-weight: 300;
} */

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Montserrat", sans-serif;
}
