@import url(./reset.css);
@import url(./font.css);

.header {
  width: 100%;
  height: 90px;
}

.wrapper {
  width: 100%;
  height: 100%;
  /* как узнать правильный размер враппера */
  max-width: 1200px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  width: 134px;
  height: 69px;
  background-image: url(../assets/icons/логоHEADER_L~OGO.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  gap: 66px;
}

.nav__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}

.banner .wrapper {
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;

  background-image: url(../assets/img/Фото\ гитаристаMainPhoto.png),
    url(../assets/img/Фигуры\ за\ гитаристомФОН\ ЗА\ ГИТАРИСТОМ.svg);
  background-repeat: no-repeat;
  background-position: left 0 top 50px, left 0 top 0;
  min-height: 715px;
}

.main {
  /* в процентах  была лучше фиксация бг к правому краю */
  background-image: url(../assets/icons/SubtractRIGHT\ ELIPCE.svg);
  background-repeat: no-repeat;
  background-position: right 0px top 555px;
}

.main-block {
  margin-top: 150px;
  margin-right: 78px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.socials__links {
  position: relative;

  width: 40px;
  height: 40px;

  border: 1px solid #488aea;
  border-radius: 50%;

  background: #e5e5e5;
}

.icon {
  position: absolute;
}

.skype {
  left: 10px;
  top: 9px;
}

.vk {
  top: 14.24px;
  left: 9.13px;
}

.telegramm {
  top: 12px;
  left: 9px;
}

.instagramm {
  top: 12px;
  left: 12px;
}
.socials {
  display: flex;
  align-items: center;
  gap: 17px;
}

.main-block__heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 68px;
  /* identical to box height */

  color: #000000;

  position: relative;
}

.main-block__heading::before {
  content: "";

  width: 65px;
  height: 2px;
  background-color: #000000;

  position: absolute;
  left: 1px;
  bottom: 1px;
}

.main-block__heading::after {
  width: 194px;
  height: 194px;

  position: absolute;
  top: -63px;
  right: -61px;

  content: "";
  background-image: url(../assets/icons/SubtractОдин\ круг.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
}

.main-block__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #000000;

  max-width: 353px;
  margin-top: 5px;
  display: block;
}

.actions {
  display: flex;
  align-items: center;
  gap: 56px;

  margin-top: 20px;
}
.actions__btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 105.19%;
  /* or 19px */

  text-align: center;

  color: #ffffff;

  background: #f28b64;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;

  padding: 11px 24px;
}

.chat__icon {
  width: 46px;
  height: 46px;
  background-image: url(../assets/icons/Иконка\ чата\ 1CHAT.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.actions-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions-text {
  width: 82px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 105.19%;
  /* or 17px */

  color: #000000;
}

.main-info__heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 88px;
  /* identical to box height */

  color: #000000;

  margin-top: 30px;

  position: relative;
}

.main-info__heading::after {
  content: "";
  width: 94px;
  height: 2px;

  background-color: #000000;

  position: absolute;

  left: 6px;
  bottom: -2px;
}

.main-info .wrapper {
  flex-direction: column;
  align-items: flex-start;
}

.main-info {
  position: relative;
}

.sub-heading__block {
  display: flex;
  align-items: center;
  gap: 30px;

  margin-top: 40px;
  position: relative;
}

.sub-heading__block::after {
  width: 194px;
  height: 194px;

  background-image: url(../assets/icons/SubtractДВОЙНОЙ_ПРАВЫЙ.svg);
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  bottom: 260.2px;
  left: 1008px;

  content: "";

  z-index: -1;
}

.circle-bg {
  width: 282px;
  height: 282px;

  background-image: url(../assets/icons/Декор\ кругиЦЕНТРАЛЬНЫЙ\ ПРАВЫЙ.svg);
  background-repeat: no-repeat;

  position: absolute;
  right: 100px;
  top: 590px;
}

.sub-heading__block::before {
  width: 194px;
  height: 194px;

  content: "";

  background-image: url(../assets/icons/SubtractДВОЙНОЙ-ЛЕВО.svg);
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  bottom: -38px;
  left: -74px;

  z-index: -1;
}

.block {
  width: 360px;
  height: 360px;
  border-radius: 10px;
}

.block-grey {
  background: #e2e2e2;
  background-image: url(../assets/img/Электро-гитара\ 11-guitar.png);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;

  position: relative;
}

.block-orange {
  background: #f28b64;
  background-image: url(../assets/img/Акустика-гитара\ 12-guitar.png);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;

  position: relative;
}

.block-blue {
  background: #5290ea;
  background-image: url(../assets/img/Укулелли-гитара\ 13-guitar.png);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;

  position: relative;
}

.text {
  writing-mode: vertical-rl;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: #000000;

  position: absolute;
  top: 100px;
  right: 50px;
}

.text-1 {
  writing-mode: vertical-rl;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: #000000;

  position: absolute;
  top: 42px;
  right: 50px;
}

.text-2 {
  writing-mode: vertical-rl;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: #000000;

  position: absolute;
  bottom: 101px;
  right: 50px;
}

.main-info {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  gap: 60px;

  margin-top: 34px;
}

.experience-block {
  display: flex;
  align-items: center;
  gap: 20px;
}
.years__icon {
  width: 80px;
  height: 80px;
  background-image: url(../assets/img/01-Иконкаcup.png);
  background-repeat: no-repeat;
}

.reviews__icon {
  width: 80px;
  height: 80px;
  background-image: url(../assets/img/04-Иконка_вторая\ секкция\ 1review.png);
  background-repeat: no-repeat;
}

.hat__icon {
  width: 80px;
  height: 80px;

  background-image: url(../assets/img/03-Иконка_вторая\ секкция\ 1hat.png);
  background-repeat: no-repeat;
}

.music__icon {
  width: 80px;
  height: 80px;

  background-image: url(../assets/img/02-Иконка_вторая\ секкция\ 1music.png);
  background-repeat: no-repeat;
}

.exp__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.years__seven {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;

  color: #000000;
}

.years__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #000000;
}

.sub-main {
  background: #f0f0f0;
}

.sub-main .wrapper {
  height: 640px;
  margin-top: 66px;

  align-items: center;
  gap: 255.3px;
}

.sub-main__heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 65px;
  /* identical to box height */

  color: #000000;

  position: relative;
}

.sub-main__heading::after {
  content: "";
  width: 286.83px;
  height: 282px;

  background-image: url(../assets/icons/SubtractБольшой\ КРУГ.svg);
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  top: -127px;
  right: 165.79px;

  z-index: 2;
}

.sub-main__heading::before {
  content: "";
  width: 233.94px;
  height: 230px;

  background-image: url(../assets/icons/SubtractКРУГ-ЛИНИЯ.svg);
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  right: 317.35px;
  top: -38px;
}

.sub-main__info {
  display: flex;
  flex-direction: column;
}

.info__heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 65px;

  color: #000000;

  position: relative;
}

.info__heading::before {
  content: "";

  width: 71.2px;
  height: 2px;

  background-color: #000000;
  position: absolute;
  top: 65px;
  left: 5.09px;
}

.sub-main__text {
  max-width: 487.21px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #000000;

  margin-top: 20px;
}

.sub-main__actions {
  margin-top: 30px;
}

.footer {
  background-image: url(../assets/img/Гриф\ 1.png);
  background-repeat: no-repeat;
}

.footer .wrapper {
  flex-direction: column;
  align-items: flex-end;
}

.footer-info {
  display: flex;
  flex-direction: column;

  margin-top: 39px;
}

.footer-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 65px;

  color: #000000;

  position: relative;
}

.footer__socials {
  margin-bottom: 42px;
}

.footer-link::after {
  content: "";

  width: 70px;
  height: 2px;

  background-color: #000000;
  position: absolute;
  right: 483px;
}

.footer__socials {
  margin-top: 21px;
}
