@import url(./reset.css);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #09203f 0%, #537895 100%);
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 75px;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1489px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo-link {
}
.nav {
  display: flex;
  gap: 36px;
  margin-right: 468px;
}

.nav__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
  display: flex;
  gap: 2px;
}

.header_links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.log {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}

.header__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 11px 30px;
}

.banner__bg {
  background-image: url(../assets/img/8401\ 1banner.svg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top 25px right;
  position: absolute;
}
.banner .wrapper {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.banner__heading {
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 111.5%;
  /* or 71px */

  color: #ffffff;
  max-width: 587px;
  margin-top: 201px;
}

.text__banner {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #ffffff;
  max-width: 466px;
  margin-top: 28px;
}

.banner__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #ffffff;
  padding: 9px 16px;
  background: #f57359;
  border-radius: 5px;
  margin-top: 61px;
}

.socials {
  margin-top: 217px;
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 64px;
}
