@import url(./reset.css);
@import url(./font.css);

body {
  font-family: "Telex", sans-serif;
  font-weight: 400;
}

.header {
  width: 100%;
  height: 100px;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1524px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 92px;
}

.nav__link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #000000;
}

.header__btn {
  display: flex;
  gap: 37px;
}
.header__btn-1 {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 13px 39px;
}

.header__btn-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  color: #ffffff;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 13px 39px;
}

.banner {
  background: url(../assets/img/image\ 3PIG.png) no-repeat bottom,
    url(../assets/img/Other\ 06card-logo.svg) no-repeat right 120px bottom 53px,
    url(../assets/img/image\ 4lock.png) no-repeat right 270px bottom 570px,
    url(../assets/img/image\ 5Card.png) no-repeat right 150px bottom 450px,
    url(../assets/img/Ikbal\ 5Men-logo.svg) no-repeat right 455px bottom 137px,
    url(../assets/img/Rectangle\ 3.jpg) no-repeat right bottom 53px;
}

.banner .wrapper {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.banner__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 112%;
  /* or 81px */
  max-width: 564px;

  letter-spacing: 0.095em;

  color: #000000;
  margin-top: 150px;
}

.banner__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 161.5%;
  /* or 39px */

  color: #6c6c6c;
  max-width: 662px;
  margin-top: 34px;
}

.banner__btn {
  background: linear-gradient(
    90deg,
    rgba(174, 89, 196, 0.5) 0.62%,
    rgba(109, 236, 205, 0.38) 51.8%,
    rgba(219, 255, 0, 0.325) 94.73%
  );
  border: 5px solid #ffffff;
  box-shadow: 0px 20px 35px rgba(63, 26, 75, 0.14);
  border-radius: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.035em;

  color: #000000;
  padding: 23px 75px;
  margin-top: 58px;
  margin-bottom: 248px;
}
