@import url(./reset.css);

.swiper {
  width: 100%;
  max-width: 914px;
  margin-top: 250px;
}
.swiper-container {
  width: 1200px;
  position: relative;
  margin-left: 210px;
}

.swiper-slide {
  width: 250px;
  height: 250px;
}

.swiper-block {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 100px;
}

.color-yellow {
  background-color: yellow;
}

.color-red {
  background-color: red;
}

.color-blue {
  background-color: blue;
}

.color-green {
  background-color: green;
}

.color-black {
  background-color: black;
  color: white;
}

.color-pink {
  background-color: pink;
}

.color-grey {
  background-color: grey;
}
