@import url(../styles/reset.css);
/* @import url(../styles/montserrat.css);
@import url(../styles/inter.css); */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  color: #e4e5ea;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Inter", sans-serif;

  background-color: rgba(14, 16, 20, 1);
  background-image: url(../assets/img/Group\ 1BG\ BALL.png);

  background-repeat: no-repeat;
  background-size: contain;
}

.header {
  width: 100%;

  margin-top: 62px;
  margin-bottom: 90px;
}

.wrapper {
  width: 100%;
  height: 100%;

  max-width: 1170px;
  margin: 0 auto;

  display: flex;
  align-items: flex-start;

  padding: 0 15px;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;

  color: #e4e5ea;
}

.nav {
  display: flex;
  gap: 30px;
  margin-right: auto;
  margin-left: 52px;
}

.nav-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* light text */

  color: #e4e5ea;
}

.tel-link {
  margin-right: 47px;
}
.header-socials {
  display: flex;
  align-items: center;
  gap: 34px;
}

/* НАЧИНАЕТСЯ СЕКЦИЯ БАННЕР */

.banner .wrapper {
  justify-content: space-between;
  align-items: flex-start;
}

.heading-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;

  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  max-width: 330px;
}

.info-heading-white {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;

  /* light text */

  color: #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #e4e5ea;
  text-fill-color: #e4e5ea;
}

.heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;

  color: #e4e5ea;

  max-width: 362px;
}

.heading__color {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.heading__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  /* light text */

  color: #e4e5ea;

  margin-top: 30px;
  max-width: 275px;
}

.info-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;

  /* light text */

  color: #e4e5ea;
}

.info__color-1 {
  background: linear-gradient(
      92deg,
      rgba(252, 176, 69, 1) 27.14%,
      rgba(253, 29, 29, 1) 121.36%
    ),
    #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  text-transform: uppercase;
}

.info__color-2 {
  background: linear-gradient(
      92deg,
      rgba(252, 176, 69, 1) 27.14%,
      rgba(253, 29, 29, 1) 121.36%
    ),
    #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  text-transform: uppercase;
}

.widget-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  margin-bottom: 60px;
  margin-top: 40px;
}

.widget {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
  max-width: 164px;
}

.widget-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.widget__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;

  color: #e4e5ea;
}

.info-add__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;

  color: #e4e5ea;

  width: 140px;
}
.info-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  /* light text */

  color: #e4e5ea;
  background: #4077f3;

  padding: 21px 34px;
  margin-top: 58px;
}

/* НАЧИНАЕТСЯ ФУТЕР */

.footer {
  margin-top: 104px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-left: 98px;
}
.nav-block {
  display: flex;
  gap: 52px;
}

.column-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.05em;
  text-transform: uppercase;

  /* dark gray */

  color: #656566;
}

.footer-nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  /* light text */

  color: #e4e5ea;

  margin-top: 10px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.column-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-left: auto;
}

.footer-tel-link {
  margin: 0;
  margin-top: 20px;
}

.footer-socials {
  gap: 10px;
  margin-top: 21px;
}

.location {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  /* light text */

  color: #e4e5ea;

  margin-top: 20px;
}

.footer-info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-align: right;

  /* light text */

  color: #e4e5ea;

  margin-top: 70px;
}

.rights {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-align: right;
  text-decoration-line: underline;

  /* light text */

  color: #e4e5ea;

  margin-top: 5px;
  margin-bottom: 20px;
}
