@media only screen and (max-width: 1440px) {
  .wrapper {
    width: 100%;
    height: 100%;
    max-width: 1440px;
  }

  .header-logo {
    margin-left: 100px;
  }
  .search-form {
    width: 835px;
    height: 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    /* Основные / Серый средний */

    color: #bbc4d6;

    background: #ffffff;
    /* Основные / Серый светлый */

    border: 1px solid #ebebf1;
    border-radius: 5px;

    padding-left: 39px;
  }

  .small__profile {
    display: none;
  }

  .profile {
    margin-right: 100px;
  }

  .partners {
    margin-left: 100px;
  }

  .brands {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    height: 100%;
    max-width: 768px;
  }
  .header-logo {
    margin-left: 20px;
  }
  .search-form {
    width: 344px;
    height: 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    /* Основные / Серый средний */

    color: #bbc4d6;

    background: #ffffff;
    /* Основные / Серый светлый */

    border: 1px solid #ebebf1;
    border-radius: 5px;

    padding-left: 39px;
  }
  .small__profile {
    display: none;
  }

  .profile {
    margin-right: 20px;
  }
  .partners {
    margin-left: 20px;
  }
  .brands {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    margin-top: 30px;
    margin-left: 20px;
  }

  .tc {
    width: 230px;
    height: 120px;
  }

  .jd-img {
    width: 183px;
    height: 34px;
  }
  .reebok-img {
    width: 187px;
    height: 38px;
  }

  .cat-img {
    width: 196px;
    height: 30px;
  }
}

@media only screen and (max-width: 375px) {
  .wrapper {
    width: 100%;
    height: 100%;
    max-width: 375px;
  }

  .header-logo {
    margin-left: 20.94px;
    margin-top: 17px;
    margin-bottom: 16px;
  }

  .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-form {
    width: 375px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
    border-top: 1px solid #bbc4d6;
    border-radius: 0;
  }

  .profile {
    display: none;
  }

  .brands {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
  }

  .tc {
    width: 335px;
    height: 140px;
  }

  .small__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
  }
}
