@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Inter", sans-serif;
}
* {
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  background: none;
}

body {
  background-color: #fffaf3;
}
.header {
  width: 100%;
  height: 98px;
  background-color: white;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo-main {
  padding-right: 26px;
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.link-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.link-header:hover {
  color: #c08d5d;
}

.banner {
  background-image: url(./Image\ 1.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.banner .wrapper {
  flex-direction: column;
  align-items: flex-start;
}

.heding-1 {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: 0.06em;
  margin-top: 202px;
  color: #3f4042;
}
.heading-2 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0.06em;

  color: #3f4042;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 147.6%;
  /* or 27px */
  margin-top: 57.58px;
  letter-spacing: 0.06em;
  max-width: 564px;

  color: #3f4042;
}

.link-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 147.6%;
  /* identical to box height, or 30px */
  margin-top: 86px;
  margin-bottom: 173px;
  letter-spacing: 0.06em;
  /* Почему делятся строки??? */
  color: #3f4042;
  background: #fffaf3;
  border: 2px solid #c08d5d;
  padding: 8px 21.19px 7px 21.19px;
}

.main-info {
  width: 564px;
  height: 467px;
}

.btn {
  margin-top: 94.5px;
}
