@import url(./reset.css);
/* @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"); */
@import url(./fonts.css);
body {
  background-image: url(../assets/img/Imagebanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: "Space Grotesk", sans-serif;
}

.header {
  width: 100%;
  height: 78px;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1239px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 56px;
  margin-left: auto;
  margin-right: 56px;
}
.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  font-feature-settings: "liga" off;

  /* white */

  color: #ffffff;
}

.header-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "liga" off;

  /* primary-dark */

  color: #000000;
  background: #fdff00;
  border-radius: 8px;
  padding: 6px 34px;
}

.banner .wrapper {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.main-heading {
  margin-top: 92px;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  /* identical to box height, or 136% */

  text-align: center;
  font-feature-settings: "liga" off;

  /* white */

  color: #ffffff;
}

.heading-2 {
  margin-top: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  /* identical to box height, or 143% */

  font-feature-settings: "liga" off;

  /* white */

  color: #ffffff;
}

.type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: 2px;
  text-transform: uppercase;
  font-feature-settings: "liga" off;

  /* dark - 40 */

  color: #b2b2b2;
  margin-top: 36px;
}

.version {
  display: flex;
  gap: 32px;
  align-items: center;
}
.text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  font-feature-settings: "liga" off;

  /* white */

  color: #ffffff;
  max-width: 604px;
  margin-top: 38px;
}

.text-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  font-feature-settings: "liga" off;

  /* white */

  color: #ffffff;
  max-width: 604px;
  margin-top: 16px;
}

.p-link {
  color: white;
  text-decoration: underline;
}
.banner-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "liga" off;

  /* primary-dark */

  color: #000000;
  background: #fdff00;
  border-radius: 8px;
  padding: 12px 68px;
  margin-top: 52px;
}

.film-list {
  margin-top: 51px;
  margin-bottom: 37px;
  display: flex;
  gap: 32px;
}

.film {
  display: flex;
  max-width: 392px;
  background: #000000;
  /* dark - 80 */

  border: 1px solid #383838;
  border-radius: 8px;
  overflow: hidden;
}

.film-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}

.film-name {
  margin-top: 6px;
}
.film-rating {
  margin-top: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: center;
  font-feature-settings: "liga" off;

  /* white */

  color: #ffffff;

  /* Inside auto layout */
}
.film-rate {
  color: #fdff00;
  margin-left: 4px;
}

.film-text {
  margin-top: 6px;
}
.film-menu {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}
.genres {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-feature-settings: "liga" off;

  /* dark - 50 */

  color: #929292;
}

.film-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  display: flex;
  align-items: center;
  font-feature-settings: "liga" off;

  /* white */

  color: #ffffff;
}

.film-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  font-feature-settings: "liga" off;

  /* dark - 50 */

  color: #929292;
}

.film-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  font-feature-settings: "liga" off;

  /* primary-dark */

  color: #000000;
  background: #fdff00;
  border-radius: 8px;
  padding: 5px 32px;
}

.film-btn-outline {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "liga" off;

  /* dark - 40 */

  color: #b2b2b2;
  padding: 5px 30px;
  background: #000000;
  /* dark - 40 */

  border: 1px solid #b2b2b2;
  border-radius: 8px;
}

.footer__icons {
  display: flex;
  gap: 14px;
}

.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height, or 120% */

  display: flex;
  align-items: center;

  /* dark - 50 */

  color: #929292;
  margin-right: 501px;
}

.footer__socials {
  display: flex;
  gap: 32px;
}
